html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #e4e4e4;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    margin: 0;
    font-family: Inconsolata;
    font-weight: 900;
    font-size: 50px;
    background-color: #808080;
    color: #e4e4e4;
    border: none;
    outline: solid 5px #3f3f3f;
}

.calculatorBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 70%;
    margin: 24px;
    padding: 0px;
    background-color: #808080;
    border: none;
    border-radius: 20px;
    outline: solid 5px #3f3f3f;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 30%;
    margin: 24px;
    background-color: #7cd39c;
    color: #186e38;
    border: none;
    border-radius: 5px;
    outline: solid 5px #3f3f3f;
    font-family: Inconsolata;
    font-weight: 500;
}

.total {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 12px;
    max-width: 100%;
    font-size: 24px;
    word-break: break-all;
}

.currentOperation {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 12px;
    font-size: 48px;
    word-break: break-all;
}

.keyboard {
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 24px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    gap: 20px;
}

button {
    display: flex;
    flex: 1;
    padding: 10px 15px 10px 15px;
    font-family: Inconsolata;
    font-weight: 600;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    color: #3f3f3f;
    border: none;
    margin: none;
    border-radius: 5px;
    outline: solid 5px #3f3f3f;
    transition: 0.05s;
    width: 20%
}

button:hover {
    transform: scale(1.05);
    z-index: 2;
    background-color: #ffffff;
}

.buttonClearAll:hover {
    background-color: #e47b7b;
}

.buttonDelete:hover {
    background-color: #e4ca6c;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    padding: 24px;
    margin: 0;
    font-size: 24px;
    font-family: Inconsolata;
    font-weight: 600;
    background-color: #808080;
    color: #e4e4e4;
    border: none;
    outline: solid 5px #3f3f3f;
}

a {
    text-decoration: none;
    color: #e4e4e4;
    transition: 0.2s;
}

a:hover {
    font-weight: 900;
}
